html { 
    background: url(THE_DUVIRI_ORDER_DISCORD_BANNER.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
  }

.text {
    background-color: black;
    color: white;
}
.spacing {
    margin-top: 45%;
}