body {
    background-color: rgb(247, 133, 133);
  }
.maintext {
    background-color: white;
    max-width: 50%;
    text-align: center;
    margin: auto;
}
h1 {
    font-family: cursive;
    font-size: 80px;
}
h2 {
    font-size: 30px;
}
p {
    font-size: 20px;
    word-wrap: break-word;
}
a:link {
    color: rgb(177, 2, 31);
}
a:visited {
    color: rgb(92, 0, 15);
}
