@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body { 
    /*background: url(THE_DUVIRI_ORDER_DISCORD_BANNER.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    background-color: rgb(32, 43, 58);
    z-index: -1;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 10% 60%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .item1 {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
  }
  .item2 {
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .item3 {
    grid-row: 2;
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.text {
    background: rgb(0,212,255);
    background: rgb(35, 35, 110);  
    color: white;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: block;
    border-radius: 20px;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}
.imgmain {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin: 10 px;
}
.txtlarge {
    font-size: 100px;
}
li, a, button, h1, p {
    font-family: "Inconsolata", sans-serif;
    font-weight: 500;
}
li, a, button{
    text-decoration: none;
    color: white;
}
header {
    justify-content: space-between;
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 30px 10%;
}
.logo {
    cursor: pointer;
}
.nav-links{
    list-style: none;
}
.nav-links li {
    justify-content: right;
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a {
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
    color: rgb(68, 196, 255);
}
button {
    padding: 9px 25px;
    background-color: rgb(35, 35, 110);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgb(92, 217, 255);
}
header img {
    max-width: 80px;
}
.nav-text{
    margin-top: 23px;
    margin-left: 6px;
    font-size: 30px;
    color: white;
}
.navtextlog {
    display: inline-flex;
    flex-grow: 1;
}